/*------------------------------------------------------*/
/* Table styles */
.table-container {
    padding:20px 50px 20px 50px;
    overflow-y:auto;
    display:flex;
    align-items: center;
    justify-content: center;

}

.table-content {
    background-color:#ffffff;
    border: 1px solid #333333;
    border-radius: 10px;
    width: 25%;
}

.table-content  th {
    background-color:#000000;
    /* background-color: #A9C686; */
    /* background-color: #6B8B39; */
    padding:5px;
    width:12.5%;
    color: #ececec;
    /* border:1px solid red; */
}

.table-content td {
    /* position: relative; */
    /* width:50%; */
	/* padding-top:2px; */
	/* padding-bottom:2px; */
    /* text-align:center; */
    /* border:1px solid green; */
}

.table-content  tr:nth-child(even) {
	background-color:#E0DEDE;
}

