*.code-workspace
.travis.yml

*test*
*.errlog

*.pyc

lib/__pycache__/
docs/scripts/lib/__pycache__/

sim-data*
phyloacc-job-files/
data/
old/
sim-tree-astral.tre

job-scripts/
job_scripts/

.snakemake
snakemake-template.smk

mammal-accelerated-elements-gt*
ratite-adaptive-theta*

src/PhyloAcc/Data/
src/PhyloAcc/example_output/
src/PhyloAcc/mammal_result/
src/PhyloAcc/R/
src/PhyloAcc/ratite_result/
src/PhyloAcc/Simulation_mammal/
src/PhyloAcc/Simulation_ratite/
src/PhyloAcc/V2_GBGC/
src/PhyloAcc/Simulation.md
src/PhyloAcc/_config.yml