*.code-workspace
.travis.yml

*test*
*.errlog

*.pyc

lib/__pycache__/
docs/scripts/lib/__pycache__/

sim-data*
phyloacc-job-files/
data/
old/
sim-tree-astral.tre

job-scripts/
job_scripts/

.snakemake
snakemake-template.smk